/* Global Ruls */
:root {
    --main-color: #01fe87;
    --main-bg: #383d52;
    --box-shadow: 0 5px 15px rgba(0, 0, 0,.3);
    --main-trans: .3s
}

.addArt form {
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.addArt form .alli {
    width: 75%;
}

.addArt form .title,
.addArt form .summary,
.addArt form .content {
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    background: none;
    box-shadow: var(--box-shadow);
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

.addArt form .file-upload-wrapper {
    position: relative;
    width: 75%;
    height: 40px;
    cursor: pointer;
}

.addArt form .file-upload-wrapper::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    /* background: #fff; */
    box-shadow: var(--box-shadow);
    z-index: 20;
    width: calc(100% - 80px);
    padding: 10px 15px;
    display: block;
    pointer-events: none;
    height: 20px;
    line-height: 20px;
    border-radius: 5px 10px 10px 5px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 300;
}

.addArt form .file-upload-wrapper::before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: var(--main-color);
    color: var(--main-bg);
    font-size: 18px;
    font-weight: bold;
    z-index: 25;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    pointer-events: none;
    transition: var(--main-trans);
}

.addArt form .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    z-index: 99;
    display: block;
    cursor: pointer;
}

.addArt form .content {
    resize: none;
    height: 200px;
}

.addArt form .add {
    padding: 5px 10px;
    width: 20%;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--main-bg);
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-trans);
}

.addArt form .add:hover {
    background: none;
    color: var(--main-color);
    box-shadow: var(--box-shadow);
}