/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Global Ruls */
:root {
    --main-color: #01fe87;
    --main-bg: #383d52;
    --box-shadow: 0 5px 15px rgba(0, 0, 0,.3);
    --main-trans: .3s
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    font-size: 16px;
}

.section-pd {
    padding-top: 100px;
    padding-bottom: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

::selection {
    background-color: var(--main-bg);
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

.headeing {
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.headeing h3 {
    position: absolute;
    font-size: 35px;
    width: fit-content;
}

.headeing h3:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: var(--main-color) .3px;
}

.headeing h3:nth-child(2) {
    color: var(--main-color);
    animation: animateColor 4s ease-in-out infinite;
}

@keyframes animateColor {
    0%, 100% {
        clip-path: polygon(0% 34%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 54%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive Container */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* ===== Start Navbar Section Style ===== */
.nav {
    box-shadow: var(--box-shadow);
}

.nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

@media (max-width: 991px) {
    .nav nav {
        flex-direction: column;
        padding: 10px 0;
    }
}

.nav nav .logo h1 {
    color: var(--main-color);
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media (max-width: 991px) {
    .nav nav .logo h1 {
        font-size: 20px;
    }
}

.nav nav .links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav nav .links li:not(:last-of-type) {
    margin-right: 40px;
}

.nav nav .links li a {
    color: var(--main-color);
    font-size: 17px;
    transition: var(--main-trans);
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .nav nav .links li:not(:last-of-type) {
        margin-right: 30px;
    }

    .nav nav .links li a {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .nav nav .links li:not(:last-of-type) {
        margin-right: 15px;
    }

    .nav nav .links li a {
        font-size: 14px;
    }
}

.nav nav .links li a:hover,
.nav nav .links li a.active {
    background-color: var(--main-color);
    color: var(--main-bg);
}

.nav nav .links .users {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.nav nav .links .users i {
    color: var(--main-bg);
}

.nav nav .links .PopupAsk {
    position: absolute;
    bottom: -100px;
    right: 0;
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
}

.nav nav .links .PopupAsk.open {
    opacity: 1;
    visibility: visible;
}

.nav nav .links .PopupAsk::after {
    content: '';
    position: absolute;
    top: -12px;
    right: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}

.nav nav .links .PopupAsk button {
    padding: 5px 15px;
    border: none;
    background-color: var(--main-bg);
    color: var(--main-color);
    border-radius: 6px;
    cursor: pointer;
}

/* ===== Start about Projects Style ===== */
.popup-form {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
}

.popup-form.open {
    opacity: 1;
    visibility: visible;
}

.popup-form .form {
    position: relative; 
    width: 800px;
    height: 500px;
    margin: 20px;
}

.popup-form .form .bluBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
}

.popup-form .form .bluBg.open {
    opacity: 1;
    visibility: visible;
}

.popup-form .form .bluBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup-form .form .bluBg .box h2 {
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.popup-form .form .bluBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 0;
    outline: 0;
    color: var(--main-bg);
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    transition: var(--main-trans);
}

.popup-form .form .bluBg .box button:hover {
    background: var(--main-bg);
    box-shadow: var(--box-shadow);
    color: var(--main-color);
}

.popup-form .form .formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
}

.popup-form .form .formBx.open {
    opacity: 1;
    visibility: visible;
}

.popup-form .form .close {
    position: absolute;
    background-color: var(--main-color);
    z-index: 10000000;
    left: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-form .form .formBx.active {
    left: 50%;
}

.popup-form .form .formBx .info {
    position: absolute;
    width: 100%;
    padding: 30px;
    left: 0;
    transition: var(--main-trans);
}

.popup-form .form .formBx .signinForm {
    transition-delay: .25s;
}

.popup-form .form .formBx.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.popup-form .form .formBx .signupForm {
    left: 100%;
    transition-delay: 0s;
}

.popup-form .form .formBx.active .signupForm {
    left: 0;
    transition-delay: .25s;
}

.popup-form .form .formBx .info form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.popup-form .form .formBx .info form h3 {
    font-size: 2em;
    font-weight: 500;
    color: var(--main-bg);
    margin-bottom: 20px;
    text-align: center;
}

.popup-form .form .formBx .info form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--main-bg);
    border-radius: 6px;
    color: var(--main-color);
    font-weight: 500;
}

.popup-form .form .formBx .info form input[type="submit"] {
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}

/* ===== Start about Projects Style ===== */
.projects .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px , 1fr));
    gap: 20px;
}

.projects .card-box {
    transition: var(--main-trans);
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px dotted var(--main-color);
    position: relative;
}

.projects .card-box:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.projects .card-box .imgCard {
    width: 100%;
}

.projects .card-box .imgCard img {
    max-width: 100%;
    border-radius: 10px;
}


.projects .card-box .card-info {
    margin-top: 10px;
}

.projects .card-box .card-info h2 {
    color: var(--main-color);
    margin-bottom: 15px;
    font-size: 20px;
}

.projects .card-box .card-info .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .card-box .card-info .content p {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    flex: 1;
}

.projects .card-box .card-info .content a {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 6px;
    transition: var(--main-trans);
}

.projects .card-box .card-info .content a:hover {
    background-color: var(--main-bg);
    color: var(--main-color);
    box-shadow: var(--box-shadow);
}


@media (max-width: 576px) {
    .projects .card-box:hover {
        transform: scale(1.04);
    }
    .projects .box {
        grid-template-columns: repeat(auto-fill, minmax(260px , 1fr)) !important;
    }
}

.projects .card-box span {
    position: absolute;
    top: -12px;
    right: 20px;
    background-color: var(--main-color);
    color: var(--main-bg);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* ===== Start Contact Section Style ===== */
.contact {
    box-shadow: var(--box-shadow);
}

.contact .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 991px) {
    .contact .box {
        flex-direction: column;
    }
}

.contact .box .info {
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: center;
    width: 30%;
}

@media (max-width: 991px) {
    .contact .box .info {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .contact .box .info {
        width: 75%;
    }
}

.contact .box .info i {
    color: var(--main-color);
    font-size: 50px;
}

.contact .box .info h3 {
    margin: 20px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
}

.contact .box .info span,
.contact .box .info a {
    font-size: 18px;
    font-weight: 300;
    color: var(--main-color) !important;
}

/* ===== Start Footer Section Style ===== */
footer {
    height: 76px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .social {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .social a i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-bg);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

footer .social a i:hover {
    transform: rotate(360deg);
}

/* --------------- Responsive ------------- */
@media (max-width: 991px) {
    .popup-form .form {
        max-width: 400px;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-form .form .close {
        top: 0;
        left: 0;
    }

    .popup-form .form .bluBg {
        top: 0;
        height: 100%;
    }

    .popup-form .form .formBx {
        width: 100%;
        height: 400px;
        top: 0;
        box-shadow: none;
    }

    .popup-form .form .bluBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .popup-form .form .bluBg .box.signin {
        top: 0;
    }

    .popup-form .form .formBx.active {
        left: 0;
        top: 150px;
    }
}